html,body{
    margin: 0;
    padding: 0;
}
#createForm{
    display:flex;
    flex-direction: column;
    align-items:center;
    width: 30%;
    background-color: 9C9C9C;
    border-radius: 20px;
    background-color: black;
}
input{
    text-align: center;
}
header{
    color:white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: gray;
    height: 100px;
}
.index{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.create{
    display: flex;
    flex-direction: column;
    align-items: center;
}
textarea{
    text-align: center;
}
body{
    color:black;
    background-color: white;
    font-family: 'Oswald', sans-serif;
}
#addPost{
    margin-right: 20px;
    border:none;
    background-color: gray;
    font-size: 20px;
    transition: 0.5s;
    padding: 38px 0 38px 0;
}
#addPost:hover{
    background-color: #c1c1c1;
}
.article{
    display:flex;
    flex-direction: column;
    align-items: center;
    border:2px solid black;
    border-radius: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
    width:30%;
    height: 400px;
    
}
.text{
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    text-justify: inter-word;
    overflow-y: scroll;

}
#mofifyForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mofifyForm>textarea{
    margin-top: 20px;
    height:200px;
    width: 30%;
}